body {
    /* background-image: url(../src/imgs/background.jpg);
    background-size: 100%;
    background-repeat: no-repeat; */
    overflow: hidden;
}

.container {
    height: 35rem;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 7%;
    position: relative;
    left: 20%;
}

.btnRegister {
    width: 270px;
    height: 35px;
    border-radius: 10px;
    border: none;
}

.profile {
    height: 25px;
    border-radius: 10px;
    border: none;
    text-align: center;
}